header, main, footer { padding-left: 240px; }

@media only screen and (max-width: 992px) {
  header, main, footer { padding-left: 0; }
}

@media only screen and (max-width: 600px) {
  .force-center-on-small-only { text-align: center; }
}

.header { font-weight:100;
          font-family: Cambria, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.white-border {
  border: 3px solid white;
}

/* side navigation bar */
.side-nav {
  width: 240px;
  background: #333;
  color: white;
}
.side-nav.fixed li.active {
  background: rgba(255,255,255,0.3);
}
.side-nav.fixed a {
  color: white;
}
.side-nav.fixed a:hover, .side-nav.fixed a:focus {
  background: rgba(255,255,255,0.3);
}
.side-nav.fixed a i.material-icons {
  color: white;
  margin-left: 5px;
}
.side-nav.fixed a.social-icon {
  text-align: center;
  padding: 0;
  margin: 0;
  color: rgba(255,255,255,0.3);
}
.side-nav.fixed a.social-icon:hover, .side-nav.fixed a.social-icon:focus {
  background: rgba(0,0,0,0);
}
.side-nav.fixed a.social-icon i.fa:hover, .side-nav.fixed a.social-icon i.fa:focus {
  color: rgba(255,255,255,1);
}
#side-nav-avatar-container {
  margin-top: 50px;
  text-align: center;
}
#side-nav-name-container {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}
#side-nav-social-container {
  margin-bottom: 40px;
}

#mobile-menu-container {
  height: 0px;
}
#mobile-menu {
  margin-top: 20px;
  color: white;
}

/* sxx */
.profile-section{
  background: white;
}

.about-section{
  background: #f7f7f7;
}

.news-section{
  background: white;
}

.publication-section{
    background: #f7f7f7;
}


.subtitle{
    font-size: 16pt;
    font-weight: bold;
}

nav{
  background-color: rgba(255,255,255,0.25) !important;
  -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
nav.white {
  background-color: rgba(255,255,255,1) !important;
}

.nav-item{
    font-size: 12pt !important;
    color: black;
}

.nav-menu{
  color:black;
}

.cover-block {
  padding-top: 120px;
  padding-bottom: 50px;
}

.profile-link{
  font-size: 13pt;
}

.profile-link a {
  color: white;
  -o-transition:0.5s;
  -ms-transition:0.5s;
  -moz-transition:0.5s;
  -webkit-transition:0.5s;
  transition:0.5s;
}
.profile-link a:hover {
  color: #3BB9FF;
  -o-transition:0.5s;
  -ms-transition:0.5s;
  -moz-transition:0.5s;
  -webkit-transition:0.5s;
  transition:0.5s;
}

.profile-block {
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 20px;
}

.profile-image-block {
    vertical-align: middle;
}

.profile-content-block{
    color: white;
    padding-top: 10px !important;
}

.profile-photo{
    border-radius: 125px !important;
    border-color: white;
    margin: 10px;
}

.profile-name{
  font-size: 32px;
  font-weight: bold;

  font-family: Palatino Linotype, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.about-card{
    border-radius: 40px;
}


.social-photo{
    width: 45px !important;
    margin-right: 10px;
    padding-bottom: 10px;
}

.social-photo{
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -o-transition: all 0.5s ease; /* IE 9 */
    -ms-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}
.social-photo:hover {
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
}
.icon {
    width: 15px;
    margin-right: 5px;
    vertical-align: middle;
}
/* sxx */


/* table of content */
.toc-wrapper { position: relative; margin-top: 42px; }
.toc-wrapper.pin-bottom { margin-top: 84px; }
.pin-top, .pin-bottom { position: relative; }
.pinned { position: fixed !important; }

/* footer */
footer p { font-weight: lighter; }
footer.page-footer { background-color: #333; }
footer.page-footer .footer-copyright { background-color: rgba(0,0,0,0.1); }

/* index */
#index-banner {
  background-image: url(/xx-content/back.jpg);
  background-repeat: repeat-x;
  background-position: center center;
  background-size: auto 100%;
  color: white;
}
#index-banner-glass {
  padding: 150px 0 100px 0;
  background-color: rgba(0,0,0,0.5);
}
#index-main {
  max-width: 900px;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
}

.pub-entry.card.horizontal .card-image { padding: 10px; }
.pub-entry.card.horizontal .card-image img { width: 150px; max-height: 150px; }
.pub-entry.card.horizontal .card-content { padding-left: 10px; }
.pub-entry.card.horizontal .card-action { padding: 10px 20px 10px 10px; font-weight: 400; }
.pub-entry.card.horizontal .card-action a:not(.btn):not(.btn-large):not(.btn-floating) { color: #009688; }

.pub-entry p.title { font-weight: 500;}
.pub-entry p.authors { margin-top: 0.5ex; font-size: small;  }
.pub-entry p.conference { margin-top: 0.5ex; font-size: small;}
.pub-entry.card.horizontal:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
